[Desktop Entry]
Name=LTRtrace-Search
Comment=A cross-species SoloLTR transposable element database for 18 legume species
Exec=LTRtrace-Search
Icon=LTRtrace-Search
Type=Application
Categories=Science;Biology;
Terminal=false
StartupWMClass=LTRtrace-Search
